
name: Generate and lint code

on:
  push:
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.19.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

    - name: Install Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
      with:
        python-version-file: .python-version

    - name: Install pyaml for Metal patching script
      run: |
        python -m pip install pyaml

    - name: Verify Patches
      run: make patch-all

    - name: Generate
      run: |
        make generate-all
        # Expect all changes to be accounted for
        ! git status --porcelain | grep .
